<p>template works!</p>
<form>
    <label for="name">Product name : </label>
    <input type="text" id="name" name="name"  [(ngModel)]= "product.name" placeholder="Enter the product name">
    <br><br>
    <label for="quantity">Quantity : </label>
    <input type="text" id="quantity" name="quantity" [(ngModel)]= "product.quantity" placeholder="Enter the product quantity">
    <br><br>
     <label for="price">Price : </label>
    <input type="text" id="price" name="price"  [(ngModel)]= "product.price" placeholder="Enter the product price">
    <br><br>
    <label for="mfg">Mfg date : </label>
    <input type="text" id="mfg" name="mfg"  [(ngModel)]= "product.mfg" placeholder="Enter the product mfg">
    <br><br>
    <button (click)="saveData()">Submit Data</button>
</form>