<p>react-form works!</p>
<form [formGroup] ="CustomerForm" (ngSumit)="saveData()">
    <label for="name">Customer Name : </label>
    <input type="text" name="name" id="name" placeholder="Enter Customer name" formControlName="name">
    <br><br>
    <label for="age">Customer Age : </label>
    <input type="text" name="age" id="age" placeholder="Enter Customer age" formControlName="age">
    <br><br>
    <label for="mobile">Contact no. : </label>
    <input type="text" name="mobile" id="mobile" placeholder="Enter Customer mobile number" formControlName="mobile">
    <br><br>
    <label for="city">City : </label>
    <input type="text" name="city" id="city" placeholder="Enter Customer city" formControlName="city">
    <br><br>
    <label for="password">password : </label>
    <input type="text" name="password" id="password" placeholder="Enter Customer password" formControlName="password">
    <br><br>
    <button (click)="saveData()">Submit Data</button>
</form>

